.form {
    width: 30vw;
    height: 65vh;
    margin: 6em auto;
    border: 1px grey solid;
    box-shadow: grey 1px 1px;
}
#loginForm {
    height: 55vh;
}

.form h1{
    margin: .5em 5em 1em;
    color: black;
}
.form h1 span {
    color: rgb(0, 191, 255);
}

.label-input {
display: relative;
margin: 1.5em  auto .1em;
}

.submit, .label-input input{
    display: block;
    width: 20vw;
    height: 4vh;
    margin-top: .1em;
}
label{
    margin-left: 7em;
}

.label-input-container {
    margin-left: 4.5em;
}

.submit {
    width: 20.5vw;
    height: 5vh; 
    margin-top: 2em;
    background-color: white;
    margin: 1px grey solid;

}
.submit:hover{
    animation-name: changeColor;
    animation-duration: 400ms;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes changeColor {
    from {
        background-color: white;
        color: black;
    }
    to{
        background-color: grey;
        color: white;
    }
}
.haveAccount {
    display: block;
    margin-top: .5em;
}